.container{
  max-width: 1105px !important;
}

.resultContainer {
  height: 500px;
  display: grid;
  align-items: center;
  align-content: center;
  text-align: center;

  &__cardbackground{
    background: beige;
    height: 330px;
    display: grid;
    padding: 48px;
  }
}
