<template>
  <div class="mt-10">
    <v-data-table
      :headers="headers"
      :items="desserts"
       hide-default-footer
    >

     <template v-slot:top>
       <v-toolbar flat>
         <v-toolbar-title>Roles y Permisos</v-toolbar-title>
         <v-spacer></v-spacer>
       </v-toolbar>
     </template>
      <template v-slot:item.name="props">

        <v-edit-dialog
          :return-value.sync="props.item.name"
          @save="save"
          @cancel="cancel"
          @open="open"
          @close="close"
        >
          {{ props.item.name }}
          <template v-slot:input>
            <v-text-field
              v-model="props.item.name"
              :rules="[max25chars]"
              label="Editar"
              single-line
              counter
            ></v-text-field>
          </template>
        </v-edit-dialog>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-btn
          small
          class="mr-2"
          @click="detalle(item)"
          color="primary"
        >
          Permisos
        </v-btn>
      </template>
    </v-data-table>

    <v-snackbar
      v-model="snack"
      :timeout="3000"
      :color="snackColor"
    >
      {{ snackText }}

      <template v-slot:action="{ attrs }">
        <v-btn
          v-bind="attrs"
          text
          @click="snack = false"
        >
          Cerrar
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        snack: false,
        snackColor: '',
        snackText: '',
        max25chars: v => v.length <= 25 || 'Texto muy largo',
        pagination: {},
        headers: [
          {
            text: 'Nombre',
            align: 'start',
            sortable: false,
            value: 'name',
          },
          { text: 'Slug', value: 'slug', sortable: false },
          { text: 'Acciones', value: 'actions', sortable: false },

        ],
        desserts: [
          {
            name: 'Super Admin',
            slug: 'admin',
          },
          {
            name: 'Supervisor',
            slug: 'supervisor',

          },
          {
            name: 'Empleado',
            slug: 'empleado',

          },
        ],
      }
    },
    methods: {
      save () {
        this.snack = true
        this.snackColor = 'success'
        this.snackText = 'Guardado'
      },
      cancel () {
        this.snack = true
        this.snackColor = 'error'
        this.snackText = 'Cancelado'
      },
      open () {
        this.snack = true
        this.snackColor = 'info'
        this.snackText = 'Dialogo abierto'
      },
      close () {
        console.log('Dialogo cerrado')
      },
      detalle (item){
        this.$router.push({ name: 'permisos', params: { slug: item.slug }})

      }
    },
  }
</script>
