<template>



  <v-card flat elevation="5">

    <v-card-text>
      <v-container fluid>
        <v-row>
          <v-col
            cols="12"
            sm="12"
          >
            <h4>Asignar permisos a {{ rol.slug }} :</h4>
          </v-col>
        </v-row>
        <v-divider></v-divider>
        <v-row>
          <v-col
            cols="12"
            sm="12"
          >

            <v-checkbox
              v-model="ex4"
              label="Listado de usuario"
              color="red darken-3"
              value="list-user"
              hide-details
            ></v-checkbox>
          </v-col>
          <v-col
            cols="12"
            sm="12"
          >

            <v-checkbox
              v-model="ex4"
              label="Acciones de usuario"
              color="red darken-3"
              value="actions-user"
              hide-details
            ></v-checkbox>
          </v-col>

          <v-col
            cols="12"
            sm="12"
          >

            <v-checkbox
              v-model="ex4"
              label="Listado de Artículos"
              color="indigo darken-3"
              value="lis-articulos"
              hide-details
            ></v-checkbox>
          </v-col>

          <v-col
            cols="12"
            sm="12"
          >

            <v-checkbox
              v-model="ex4"
              label="Acciones de Artículos"
              color="indigo darken-3"
              value="actions-articles"
              hide-details
            ></v-checkbox>
          </v-col>
          <v-col
            cols="12"
            sm="12"
          >

            <v-checkbox
              v-model="ex4"
              label="Roles y Permisos"
              color="orange darken-3"
              value="list-roles"
              hide-details
            ></v-checkbox>
          </v-col>
        </v-row>

      </v-container>
    </v-card-text>
  </v-card>
</template>
<script>
export default {
  name: "",
  data: () => ({
    rol: '',
    ex4: ['red darken-3', 'indigo darken-3', 'orange darken-3'],
  }),
  mounted() {
    this.rol = this.$route.params;
  }
}
</script>
