<template>
  <v-app>
    <v-container >
      <v-layout row>
          <v-flex xs12 sm6 offset-sm3>
            <div class="resultContainer">
               <div class="resultContainer__cardbackground" elevation="24">
                 <h3 class="headline mb-0">Inicia Sesión</h3>

                 <input type="text" class="form-control" v-model="usuario" placeholder="Usuario">
                 <input type="password" class="form-control" v-model="contrasenia" placeholder="Contraseña">

                 <v-btn color="success" v-on:click="entrar()">Entrar</v-btn>

               </div>
            </div>
          </v-flex>
      </v-layout>
    </v-container>

  </v-app>


</template>

<script>
    export default {
      data: () => ({
        mostrarmenu: false,
        usuario: '',
        contrasenia: ''

      }),
    
      methods: {
        entrar() {
          this.$router.push('dashboard')
          //this.$router.replace('dashboard') para que luego no pueda dar atras
        }
      }
    }
</script>
