<template>
  <v-app>
      <nav-component v-if="mostrar" />

      <!-- Dimensiona su contenido según los componentes de la aplicación -->
      <v-main>

        <!-- Proporciona a la Aplicación el contenido adecuado, según los componentes
            indicados en las rutas -->
        <v-container class="h-100" fluid>

          <transition name="slide-fade" mode="out-in">
              <router-view></router-view>
          </transition>

        </v-container>
      </v-main>

      <footer-component v-if="mostrar" />
    </v-app>
</template>
<script>

export default{
  data: () => ({
    mostrar: false,
  }),

  beforeMount() {
    this.cambiar()
  },

  beforeUpdate() {
    this.cambiar()
  },
  methods: {
    cambiar() {
      if(this.$route.name != 'login'){
        this.mostrar = true;
      }else{
        this.mostrar = false;

      }
    }
  }


}

</script>
