<template >
  <v-navigation-drawer
    permanent
    expand-on-hover
    app
  >
    <template v-slot:prepend>
      <v-list-item two-line>
        <v-list-item-avatar>
          <img src="https://randomuser.me/api/portraits/women/81.jpg">
        </v-list-item-avatar>

        <v-list-item-content >
          <v-list-item-title>Jane Smith</v-list-item-title>
          <v-list-item-subtitle>Administrador</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </template>

    <v-divider></v-divider>

    <v-list dense>
      <v-list-item
        v-for="item in items"
        :key="item.title"
        link
        v-on:click="ir(item.ruta)"
      >

          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
      </v-list-item>

      <v-list-group
        :value="false"
        prepend-icon="mdi-cog-outline"
      >
        <template v-slot:activator>
          <v-list-item-title>Configuarión</v-list-item-title>
        </template>

        <v-list-item
          v-for="([title, icon, ruta], i) in users"
          :key="i"
          link
          v-on:click="ir(ruta)"
        >
          <v-list-item-title v-text="title"></v-list-item-title>

          <v-list-item-icon>
            <v-icon v-text="icon"></v-icon>
          </v-list-item-icon>
        </v-list-item>

      </v-list-group>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  data: () => ({
    items: [
        { title: 'Mi cuenta', icon: 'mdi-account-outline', ruta: 'mi-cuenta' },
        { title: 'Articulos', icon: 'mdi-animation-outline', ruta: 'articulos' },
      ],
    users: [
      ['Usuarios', 'mdi-account-group', 'usuarios'],
      ['Roles', 'mdi-account-key', 'roles'],
    ],
  }),
  methods: {
    ir(ruta) {
       this.$router.push({ path: `/${ruta}` })
    }
  }

}
</script>
