<template>
  <div class="mt-10">
    <v-data-table
      :headers="headers"
      :items="desserts"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar
          flat
        >
          <v-toolbar-title>Usuarios</v-toolbar-title>
          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>

          <v-spacer></v-spacer>
          <v-dialog
            v-model="dialog"
            max-width="500px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="primary"
                dark
                class="mb-2"
                v-bind="attrs"
                v-on="on"
              >
                Nuevo Usuario
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col
                      cols="12"
                      sm="12"
                      md="12"
                    >
                      <v-text-field
                        v-model="editedItem.name"
                        label="Nombre"
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="12"
                      md="12"
                    >
                      <v-textarea
                        v-model="editedItem.apellidos"
                        label="Apellidos"
                      ></v-textarea>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="12"
                      md="12"
                    >
                      <v-text-field
                        v-model="editedItem.correo"
                        label="Correo"
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="12"
                      md="12"
                    >
                      <v-text-field
                        v-model="editedItem.clave"
                        label="Contraseña"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="blue darken-1"
                  text
                  @click="close"
                >
                  Cancelar
                </v-btn>
                <v-btn
                  color="blue darken-1"
                  text
                  @click="save"
                >
                  Guardar
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="headline">¿Estás segura de que quieres eliminar este usuario?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeDelete">Cancelar</v-btn>
                <v-btn color="blue darken-1" text @click="deleteItemConfirm">Si</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>

        </v-toolbar>

      </template>

      <template v-slot:item.actions="{ item }">
        <v-icon
          small
          class="mr-2"
          @click="editItem(item)"
        >
          mdi-pencil
        </v-icon>
        <v-icon
          small
          @click="deleteItem(item)"
        >
          mdi-delete
        </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn
          color="primary"
          @click="initialize"
        >
          Reset
        </v-btn>
      </template>
    </v-data-table>
  </div>
</template>
<script>
  export default {
    data: () => ({
      dialog: false,
      dialogDelete: false,
      headers: [
        {
          text: 'Nombre',
          align: 'start',
          sortable: false,
          value: 'name',
        },
        { text: 'Apellidos', value: 'apellidos' },
        { text: 'Correo', value: 'correo' },
        { text: 'Contraseña', value: 'clave' },
        //{ text: 'Repetir Contraseña', value: 'confirmar' },
        //{ text: 'Rol', value: 'rol' },
        //{ text: 'Token', value: 'token' },
        { text: 'Acciones', value: 'actions', sortable: false },
      ],
      desserts: [],
      editedIndex: -1,
      editedItem: {
        name: '',
        apellidos: '',
        correo: '',
        clave: '',
      },
      defaultItem: {
        name: '',
        apellidos: '',
        correo: '',
        clave: 0.0,
      },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nuevo Usuario' : 'Editar Usuario'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        this.desserts = [
          {
            name: 'Yogurt',
            apellidos: 'Lorem ipsum dolor sit amet.',
            correo: 'Blanco y amarillo',
            clave: '********',
          },
          {
            name: 'Yogurt',
            apellidos: 'Lorem ipsum dolor sit amet.',
            correo: 'Blanco y amarillo',
            clave: '********',
          },
          {
            name: 'Yogurt',
            apellidos: 'Lorem ipsum dolor sit amet.',
            correo: 'Blanco y amarillo',
            clave: '********',
          },
          {
            name: 'Yogurt',
            apellidos: 'Lorem ipsum dolor sit amet.',
            correo: 'Blanco y amarillo',
            clave: '********',
          },
          {
            name: 'Yogurt',
            apellidos: 'Lorem ipsum dolor sit amet.',
            correo: 'Blanco y amarillo',
            clave: '********',
          },
          {
            name: 'Yogurt',
            apellidos: 'Lorem ipsum dolor sit amet.',
            correo: 'Blanco y amarillo',
            clave: '********',
          },
          {
            name: 'Yogurt',
            apellidos: 'Lorem ipsum dolor sit amet.',
            correo: 'Blanco y amarillo',
            clave: '********',
          },
          {
            name: 'Yogurt',
            apellidos: 'Lorem ipsum dolor sit amet.',
            correo: 'Blanco y amarillo',
            clave: '********',
          },
          {
            name: 'Yogurt',
            apellidos: 'Lorem ipsum dolor sit amet.',
            correo: 'Blanco y amarillo',
            clave: '********',
          },
          {
            name: 'Yogurt',
            apellidos: 'Lorem ipsum dolor sit amet.',
            correo: 'Blanco y amarillo',
            clave: '********',
          }
        ]
      },

      editItem (item) {
        this.editedIndex = this.desserts.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        this.editedIndex = this.desserts.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
        this.desserts.splice(this.editedIndex, 1)
        this.closeDelete()
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.desserts[this.editedIndex], this.editedItem)
        } else {
          this.desserts.push(this.editedItem)
        }
        this.close()
      },
    },
  }
</script>
